<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'video_app/style.css' %}">
</head>
<body>
    <div class="course-header">
        <h1>{{ course.title }}</h1>
        <p>Subject: {{ course.subject.name }}</p>
        <p>Category: {{ course.category.name }}</p>
        <p>Description: {{ course.description }}</p>
        <p>Likes: {{ course.likes|length }}</p>
        {% if author %}
            <a href="/course/{{ course.id }}/edit_course_form"><button type="button" class="btn btn-danger">Edit Course</button></a>
            <a href="/course/{{ course.id }}/video/create_video_form"><button type="button" class="btn btn-primary">Add Video</button></a>
        {% endif %}
    </div>
    <div class="container">
            <div class="row">
              <div class="col-md-3">
                {% for video in course.videos.all %}
                    <h1>{{ video.title }}</h1>
                    <img src="{{ video.thumbnail }}" class="img-fluid" alt="">
                    <p>{{ video.description }}</p>
                    <p>Likes: {{ video.likes|length }}</p>
                    <a href="/course/{{ course.id }}/video/{{ video.id }}"><button type="button" class="btn btn-primary">Start Video</button></a>
                    {% if author %}
                        <a href="/course/{{ course.id }}/video/{{ video.id }}/edit_video_form"><button type="button" class="btn btn-danger">Edit Video</button></a>
                    {% endif %}
                    {% endfor %}
              </div>
              <div class="col-md-9">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
                <p>Likes: {{ likes|length }}</p>
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ url }}" allowfullscreen></iframe>
                </div>
                <h1>ADD QUIZ FUNCTIONALITY HERE</h1>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                </div>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>